*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orgin{
    height: 50vh;
    width: 1%;
    background-color: orangered;
    animation: org 3s linear;
    transform-origin: top;
}
@keyframes org{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}